<table class="table">
  <thead>
    <tr class="d-flex">
      <th class="col-5">Początek</th>
      <th class="col-5">Koniec</th>
      <th class="col-2 d-flex justify-content-end">Dystans</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let route of routes; let i = index">
      <tr *ngIf="route.routeType === 'START' || route.routeType === 'START_FROM_DEPOT' || route.routeType === 'START_FROM_HOTEL'">
        <td colspan="3" class="d-flex justify-content-center">
          <span class="badge badge-primary" *ngIf="route.routeType === 'START'">Początek trasy</span>
          <span class="badge badge-warning" *ngIf="route.routeType === 'START_FROM_HOTEL' || route.routeType === 'START_FROM_DEPOT'"
            >Początek trasy dnia {{ route.day + 1 }}</span
          >
        </td>
      </tr>
      <tr
        [className]="segmentSelected === route ? 'table-primary route-segment-row route-selected d-flex' : 'route-segment-row d-flex'"
        (click)="onSegmentClicked(route)"
      >
        <td class="col-5 d-flex align-items-center">
          <app-map-marker [marker]="getRouteMarkerIcon(route, true)" [content]="getRouteMarkerContent(route, true)"> </app-map-marker>
          <div class="segment-info">
            <p class="name">{{ route.startPoint.nameShort }}</p>
            <div class="expandable">
              <p class="address">Adres:</p>
              <p class="address">{{ route.startPoint.street }} {{ route.startPoint.houseNo }}</p>
              <p class="address">{{ route.startPoint.postcode }} {{ route.startPoint.city }}</p>
            </div>
          </div>
        </td>

        <td class="col-5 d-flex align-items-center">
          <app-map-marker [marker]="getRouteMarkerIcon(route, false)" [content]="getRouteMarkerContent(route, false)"> </app-map-marker>

          <div class="segment-info">
            <p class="name">{{ route.endPoint.nameShort }}</p>
            <div class="expandable">
              <p class="address">Adres:</p>
              <p class="address">{{ route.endPoint.street }} {{ route.endPoint.houseNo }}</p>
              <p class="address">{{ route.endPoint.postcode }} {{ route.endPoint.city }}</p>
            </div>
          </div>
        </td>
        <td class="col-2 d-flex justify-content-end">{{ route.distance }} km</td>
      </tr>
      <tr *ngIf="route.routeType === 'FINISH'">
        <td colspan="3" class="d-flex justify-content-center">
          <span class="badge badge-primary">Koniec trasy</span>
        </td>
      </tr>
      <tr *ngIf="!allDay && (route.routeType === 'FINISH_AT_HOTEL' || route.routeType === 'FINISH_AT_DEPOT')">
        <td colspan="3" class="d-flex justify-content-center">
          <span class="badge badge-warning">Koniec trasy dnia {{ route.day + 1 }}</span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
