.requisition-checkbox-list {
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
  max-height: 500px;

  h2 {
    font-size: 1.1rem;
  }

  .requisition-row-checkbox {
    font-size: 0.9rem;
    > .col {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
