<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="section-header">Lista pracowników</h1>
    </div>
  </div>
  <div id="employee-list">
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs" id="employee-list" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="active-tab"
              data-toggle="tab"
              href="#active-employee"
              role="tab"
              aria-controls="active-employee"
              aria-selected="true"
              >Aktywni</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="inactive-tab"
              data-toggle="tab"
              href="#inactive-employee"
              role="tab"
              aria-controls="inactive-employee"
              aria-selected="false"
              >Nieaktywni</a
            >
          </li>
        </ul>
        <div class="tab-content mt-3" id="employee-list-content">
          <div class="tab-pane fade show active" id="active-employee" role="tabpanel" aria-labelledby="active-tab">
            <app-active-employees
              [filterForm]="activeEmployeeFilterForm"
              [page]="activeEmployeePage"
              [pageUrl]="activeEmployeePageUrl"
              (pageChange)="onActiveEmployeesPageChanged($event)"
            >
            </app-active-employees>
          </div>
          <div class="tab-pane fade" id="inactive-employee" role="tabpanel" aria-labelledby="inactive-tab">
            <app-inactive-employees
              [filterForm]="inactiveEmployeeFilterForm"
              [page]="inactiveEmployeePage"
              [pageUrl]="inactiveEmployeePageUrl"
              (pageChange)="onInactiveEmployeesPageChanged($event)"
            >
            </app-inactive-employees>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
