.processing-info {
  max-width: 70%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  h2 {
    font-size: 1.6rem;
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;

  h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
  }

  &.map-big {
    width: 90%;
    min-height: 600px;
  }

  &.map-loading {
    .loading {
      position: absolute;
      background-color: rgba(70, 70, 70, 0.7);
      width: 100%;
      height: 100%;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;

      .lds-roller div:after {
        background: white;
      }
    }
  }
}

.leaflet-right {
  display: none;
}

.map-legend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .map-legend-item {
    display: flex;
    align-items: center;
    margin: 0 15px 15px;
    p {
      font-size: 0.95rem;
      margin: 0;
      margin-left: 10px;
    }
    .map-marker {
      background-size: 20px 36px;
      background-repeat: no-repeat;
      width: 20px;
      height: 36px;
      outline: none;
      display: flex;

      span {
        font-size: 9px;
        width: 20px;
        line-height: 36px;
        text-align: center;
        margin-left: 0;
        margin-top: -5px;
      }

      &.company-marker {
        background-image: url($base-url+'images/map-markers/company-marker.svg');
      }
      &.depot-marker {
        background-image: url($base-url+'images/map-markers/depot-marker.svg');
      }
      &.hotel-marker {
        background-image: url($base-url+'images/map-markers/hotel-marker.svg');
      }
      &.start-marker {
        background-image: url($base-url+'images/map-markers/start-marker.svg');
      }
      &.finish-marker {
        background-image: url($base-url+'images/map-markers/finish-marker.svg');
      }
    }
  }
}

#route-info,
#route-info-content {
  margin-top: 30px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
#route-info {
  border-bottom: none;
}
#route-info-content {
  margin-top: 0;
  font-size: 0.8rem;
  max-height: 600px;
  overflow-y: auto;

  .route-segment-row {
    cursor: pointer;
    .name,
    .address {
      letter-spacing: 0.04rem;
    }

    .name {
      margin: 0;
    }

    .address {
      &:first-of-type {
        margin-top: 15px;
      }
      margin: 0;
    }

    .expandable {
      display: none;
      transition: ease 4s;
    }

    &.route-selected {
      .expandable {
        display: block;
      }
    }
  }

  .ng-fa-icon {
    margin-right: 10px;
  }

  .badge {
    padding: 0.4rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04rem;
    font-size: 0.8rem;
    margin: 5px 0;

    &.top {
      margin-top: 0;
    }

    &.bottom {
      margin-bottom: 0;
    }
  }
}

.segment-info {
  margin-left: 10px;
}
