<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="section-header">Szczegóły firmy</h1>
    </div>
  </div>
  <div id="company-details" *ngIf="company">
    <div class="row">
      <div class="col">
        <h2>{{ company.nameShort }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="map" class="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="company-information">
          <p>NIP: {{ company.nip }}</p>
          <p>Adres: {{ company.street }} {{ company.houseNo }}, {{ company.postcode }} {{ company.city }}</p>
          <div class="buttons" *ngIf="companiesService.canEdit(company)">
            <button class="btn btn-outline-primary btn-sm" [routerLink]="['/dashboard/companies', company.id, 'edit']">Edytuj</button>
            <button class="btn btn-outline-primary btn-sm" (click)="deleteCompany()">Usuń</button>
          </div>
        </div>
      </div>
    </div>
    <!--    <app-company-details-history [companyId]="company.id"></app-company-details-history>-->
  </div>
</div>
