<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="section-header">Dodaj firmę do bazy</h1>
    </div>
  </div>
  <div id="manage-company">
    <div class="row">
      <div class="col-sm-12 col-xl-6">
        <app-company-form
          [companyForm]="companyForm"
          (formChanged)="updateForm($event)"
          (formSent)="addCompany()"
          submitButton="Dodaj"
        ></app-company-form>
      </div>
      <div class="col-sm-12 col-xl-6">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h1>Dodaj firmę do bazy</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-company-form [companyForm]="companyForm" (formChanged)="updateForm($event)" (formSent)="addCompany($event)" submitButton="Dodaj">
      </app-company-form>
    </div>
    <div class="col-sm-12 col-xl-6">
      <agm-map [longitude]="lng" [latitude]="lat" [zoom]="zoom">
        <agm-marker [longitude]="lng" [latitude]="lat"></agm-marker>
      </agm-map>
    </div>
  </div>
</div> -->
