<div class="row">
  <div class="col">
    <h1 class="section-header">Edycja firmy</h1>
  </div>
</div>
<div id="manage-company">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-company-form
        [companyForm]="companyForm"
        (formChanged)="updateForm($event)"
        (formSent)="editCompany()"
        submitButton="Zapisz"
      ></app-company-form>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-map
        mapId="map"
        height="100%"
        width="100%"
        [lat]="lat"
        [lng]="lng"
        [mapOptions]="mapOptions"
        [markerCoordinates]="markerCoordinate"
      ></app-map>
    </div>
  </div>
</div>
