<div class="container" *ngIf="pageLoaded; else loading">
  <div class="row" *ngIf="businessTrip && businessTrip.routes.length > 0; else processingData">
    <div class="col">
      <p>Delegacja pracownika {{ businessTrip.assignee.firstName }} {{ businessTrip.assignee.lastName }}</p>
    </div>
  </div>
  <div class="row" *ngIf="businessTrip && businessTrip.routes.length > 0">
    <div class="col">
      <mat-form-field>
        <mat-label>Wybierz dzień delegacji</mat-label>
        <mat-select [(value)]="selectedDay" (selectionChange)="updateMap($event)">
          <mat-option value="all">Cała podróż</mat-option>
          <mat-option *ngFor="let day of routes; let i = index" value="{{ i }}">dzień {{ i + 1 }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="height: 600px">
    <div class="col">
      <div id="map" class="map" style="width: 100%; height: 100%"></div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-6" *ngIf="businessTrip; else loading">
      <h2>Szczegóły trasy</h2>
      <div class="row">
        <div class="col">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let stop of routes[0]; let i=index">#{{i + 1}}
              {{stop.startPoint.nameShort}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>

<ng-template #processingData>
  <div class="col-12">
    <h1>Trwa przeliczanie trasy</h1>
  </div>
  <div class="col-12">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width]="currentProgress | percent: '1.0-1'"
        [attr.aria-valuenow]="currentProgress"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ currentProgress | percent: '1.0-1' }}
      </div>
    </div>
  </div>
  <div class="col-12">
    <p>Szacowany czas: {{ timeLeft | number }} sekund</p>
  </div>
</ng-template>

<ng-template #loading>
  <div class="container-fluid h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <app-lds-roller></app-lds-roller>
    </div>
  </div>
</ng-template>
