<div id="user-profile">
  <div class="user-profile-header">
    <div class="row">
      <div class="col">
        <h2>
          Twój profil
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-info">Poniżej znajdują się informacje o Twoim koncie.</div>
      </div>
    </div>
  </div>
  <div class="user-profile-body">
    <div class="row">
      <div class="col">
        <div id="user-details" *ngIf="user | async; let user">
          <p><fa-icon [icon]="faUserCircle"></fa-icon> {{ user.firstName }} {{ user.lastName }}</p>
          <p><fa-icon [icon]="faAt"></fa-icon> {{ user.email }}</p>
          <p>
            <fa-icon [icon]="faCalendarAlt"></fa-icon> Data dołączenia:
            {{ user.dateJoined | date: 'dd.MM.y':undefined:'pl' }}
          </p>
          <p *ngIf="lastBusinessTrip !== 'nigdy'">
            <fa-icon [icon]="faCar"></fa-icon> Ostatnia delegacja:
            {{ lastBusinessTrip | date: 'dd.MM.y':undefined:'pl' }}
          </p>
          <p *ngIf="lastBusinessTrip === 'nigdy'"><fa-icon [icon]="faCar"></fa-icon> Ostatnia delegacja: nigdy</p>
          <div class="buttons">
            <button class="btn btn-sm btn-outline-primary" (click)="changePassword()">
              <fa-icon [icon]="faKey"></fa-icon> Zmień hasło
            </button>
            <button class="btn btn-sm btn-outline-primary" (click)="editProfile()">
              <fa-icon [icon]="faEdit"></fa-icon> Edytuj profil
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
