<section id="login" class="d-flex flex-row justify-content-center align-items-center">
  <div id="login-box" class="complete">
    <div class="row">
      <div class="col">
        <h1>Konto zostało założone</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Proces rejestracji został zakończony pomyślnie. Zanim jednak zaczniesz korzystać ze strony, wymagane jest zatwierdzenie twojego
          konta przez administratora.
        </p>
        <p>Po zatwierdzeniu będzie możliwy dostęp do strony.</p>
        <a [routerLink]="['/login']">Powrót do logowania</a>
      </div>
    </div>
  </div>
</section>
