<div class="row mb-3">
  <div class="col">
    <div class="search-bar" [formGroup]="filterForm" *ngIf="filterForm">
      <input formControlName="search" placeholder="Szukaj..." class="form-control" />
    </div>
  </div>
</div>
<div id="employee-list" class="paginated-list">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th scope="col">Data dołączenia</th>
              <th scope="col">Imię</th>
              <th scope="col">Nazwisko</th>
              <th scope="col">E-mail</th>
              <th scope="col">Nazwa użytkownika</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of (page | async)?.results">
              <td class="align-middle">
                <div class="btn-group">
                  <button
                    class="btn btn-default btn-sm dropdown-toggle no-caret"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="[employee.id, 'business-trips']" *ngIf="employee.isActive"
                      >Delegacje pracownika</a
                    >
                    <span class="dropdown-item" (click)="editEmployee(employee)">Edytuj profil</span>
                    <span class="dropdown-item" (click)="activateEmployee(employee.id)" *ngIf="!employee.isActive">Aktywuj pracownika</span>
                    <span class="dropdown-item" (click)="deactivateEmployee(employee.id)" *ngIf="employee.isActive"
                      >Dezaktywuj pracownika</span
                    >
                    <span class="dropdown-item" (click)="deleteEmployee(employee)">Usuń pracownika</span>
                    <!-- <a class="dropdown-item" [routerLink]="['/dashboard/companies/', company.id]"
                                            routerLinkActive="router-link-active">Informacje</a>
                                        <a class="dropdown-item"
                                            [routerLink]="['/dashboard/companies', company.id, 'edit']"
                                            routerLinkActive="router-link-active"
                                            >Edytuj</a>
                                        <a class="dropdown-item" (click)="remove(company)"
                                            *ngIf="canEditCompany(company)">Usuń</a> -->
                  </div>
                </div>
              </td>
              <td class="align-middle">{{ employee.dateJoined | date: 'dd.MM.y':undefined:'pl' }}</td>
              <td class="align-middle">{{ employee.firstName }}</td>
              <td class="align-middle">{{ employee.lastName }}</td>
              <td class="align-middle">{{ employee.email }}</td>
              <td class="align-middle">{{ employee.username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)" class="float-right"> </app-paginator>
    </div>
  </div>
</div>
