<h1 mat-dialog-title>Zmiana hasła</h1>
<div mat-dialog-content>
  <form *ngIf="data.passwordForm" [formGroup]="data.passwordForm" id="field-container">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input type="password" matInput placeholder="Stare hasło" formControlName="oldPassword" />
          <mat-error>
            <p *ngIf="data.passwordForm.get('oldPassword').errors?.invalid">Podane hasło jest nieprawidłowe.</p>
            <p *ngIf="data.passwordForm.get('oldPassword').errors?.required">To pole jest wymagane</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input type="password" matInput placeholder="Nowe hasło" formControlName="password" />
          <mat-error>
            <p *ngIf="data.passwordForm.get('password').errors?.required">To pole jest wymagane</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input type="password" matInput placeholder="Powtórz hasło" formControlName="password2" />
          <mat-error>
            <p *ngIf="data.passwordForm.get('password2').errors?.required">To pole jest wymagane</p>
            <p *ngIf="data.passwordForm.get('password2').errors?.passwordMismatch">Podane hasła są różne</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-error class="errors">
          <p *ngFor="let error of errors?.nonFieldErrors">{{ error }}</p>
        </mat-error>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Cofnij</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial [disabled]="!data.passwordForm.valid">Zapisz</button>
</div>
