<section id="login" class="d-flex flex-row justify-content-center align-items-center">
    <div id="login-box">
        <div class="row">
            <div class="col">
                <h1>Zaloguj się</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control form-control-lg" type="text" placeholder="login" [(ngModel)]="user.username"
                    name="login-username">
                <span *ngFor="let error of _userService.errors.username"><br />
                    {{ error }}</span>
                <input class="form-control form-control-lg" type="text" placeholder="hasło" [(ngModel)]="user.password"
                    name="login-password">
                <span *ngFor="let error of _userService.errors.password"><br />
                    {{ error }}</span>
                <button (click)="login()" class="btn btn-block btn-primary">Submit</button>
            </div>
        </div>
        <div class="row">
            <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
        </div>
        <div class="row">
            <div class="col text-right">
                <p class="login-helper">Nie pamiętam hasła</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <p class="login-helper">Nie masz jeszcze konta? <a>Założ konto.</a></p>
            </div>
        </div>
    </div>
</section>