<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Route Optimizer</div>
  <div class="list-group list-group-flush">
    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action">
      <fa-icon [icon]="faTachometerAlt"></fa-icon> Panel użytkownika
    </a>
    <a
      [routerLink]="['/dashboard/business-trip']"
      routerLinkActive="router-link-active"
      *ngIf="!isStaff"
      class="list-group-item list-group-item-action"
      >Twoje delegacje</a
    >
    <a [routerLink]="['/dashboard/company']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action">
      <fa-icon [icon]="faBuilding"></fa-icon> Firmy
    </a>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/dashboard/company']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action"
        >Przeglądaj</a
      >
      <a [routerLink]="['/dashboard/company/add']" href="#" class="list-group-item list-group-item-action">Dodaj firmę</a>
    </div>
    <a [routerLink]="['/dashboard/requisition']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action">
      <fa-icon [icon]="faMoneyBillWave"></fa-icon> Oferty
    </a>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/dashboard/requisition']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action"
        >Przeglądaj</a
      >
      <a [routerLink]="['/dashboard/requisition/add']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action"
        >Dodaj ofertę</a
      >
    </div>
    <a
      class="list-group-item list-group-item-action"
      [routerLink]="['/dashboard/employee']"
      *ngIf="isStaff"
      routerLinkActive="router-link-active"
    >
      <fa-icon [icon]="faUsers"></fa-icon> Pracownicy
    </a>
    <div class="list-group list-group-flush" *ngIf="isStaff">
      <a class="list-group-item list-group-item-action" [routerLink]="['/dashboard/employee']" routerLinkActive="router-link-active"
        >Przeglądaj</a
      >
      <a class="list-group-item list-group-item-action" [routerLink]="['/dashboard/business-trip']" routerLinkActive="router-link-active"
        >Delegacje</a
      >
    </div>
  </div>
</div>
