<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Route Optimizer</div>
  <div class="list-group list-group-flush">
    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
      class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a [routerLink]="['/dashboard/business-trip']" routerLinkActive="router-link-active"
      class="list-group-item list-group-item-action bg-light">Twoje delegacje</a>
    <a [routerLink]="['/dashboard/company']" routerLinkActive="router-link-active"
      class="list-group-item list-group-item-action bg-light">Firmy</a>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/dashboard/company']" routerLinkActive="router-link-active"
        class="list-group-item list-group-item-action bg-light">Przeglądaj</a>
      <a [routerLink]="['/dashboard/company/add']" href="#"
        class="list-group-item list-group-item-action bg-light">Dodaj firmę</a>
    </div>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/dashboard/employee']"
      routerLinkActive="router-link-active">Pracownicy</a>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/dashboard/employee']"
        routerLinkActive="router-link-active">Przeglądaj</a>
      <a class="list-group-item list-group-item-action bg-light">Delegacje</a>
    </div>
  </div>
</div>
