<div class="d-flex" id="wrapper" [ngClass]="wrapperClasses" *ngIf="(user | async) as currentUser">
  <!-- Sidebar -->
  <app-dashboard-sidebar [isStaff]="currentUser.isStaff"></app-dashboard-sidebar>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggleSidebar()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

      <section id="user-info">
        <p class="nav-text">Jesteś zalogowany jako {{ currentUser.username }} <span *ngIf="currentUser.isStaff">(admin)</span></p>
        <button (click)="logout()" class="btn btn-outline-light btn-sm">Wyloguj się</button>
      </section>
    </nav>
    <div class="container-fluid flex-fill d-flex flex-column">
      <div id="dashboard-content" class="d-flex flex-column flex-fill">
        <div class="row">
          <div class="col">
            <p-breadcrumb [home]="home" [model]="menuItems"></p-breadcrumb>
          </div>
        </div>
        <div class="row flex-fill">
          <div class="col d-flex flex-column dashboard-router-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>

    <!--    <div class="container-fluid h-100">-->
    <!--      <div id="dashboard-content">-->
    <!--        -->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div class="container-fluid h-100">-->
    <!--      <div id="dashboard-content">-->
    <!--        <div class="container-fluid">-->
    <!--          <div class="row">-->
    <!--            <div class="col">-->
    <!--              <p-breadcrumb [home]="home" [model]="menuItems"></p-breadcrumb>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <router-outlet></router-outlet>-->
    <!--      </div>-->
    <!--      &lt;!&ndash; <h1 class="mt-4">Simple Sidebar</h1>-->
    <!--      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on-->
    <!--        larger screens. When toggled using the button below, the menu will change.</p>-->
    <!--      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is-->
    <!--        optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which-->
    <!--        will toggle the menu when clicked.</p> &ndash;&gt;-->
    <!--    </div>-->
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
