<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Szczegóły firmy</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xl-6" *ngIf="company">
      <p>{{ company.name }}</p>
      <p>Numer nip: {{ company.nip }}</p>
      <p>Adres:</p>
      <p>{{ company.street }} {{ company.houseNo }}</p>
      <p>{{ company.postcode }} {{ company.city }}</p>
    </div>
    <div class="col-sm-12 col-xl-6">
      <agm-map [longitude]="lng" [latitude]="lat" [zoom]="zoom">
        <agm-marker [longitude]="lng" [latitude]="lat"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Twoja historia</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Zysk</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
