<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="section-header">Lista dostępnych dla Ciebie ofert</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="search-bar" [formGroup]="filterForm">
        <input formControlName="search" placeholder="Szukaj..." class="form-control" />
      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-primary float-right" (click)="addRequisition()">Dodaj ofertę</button>
    </div>
  </div>
  <div id="requisition-list" class="paginated-list">
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr class="d-flex">
                <th class="col-lg-1"></th>
                <th scope="col" class="col-lg-2">Data dodania</th>
                <th scope="col" class="col-lg-7">Firma</th>
                <th scope="col" class="col-lg-2 d-flex justify-content-end">Zysk</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let requisition of (page | async)?.results" class="d-flex">
                <td class="d-flex align-items-center col-lg-1" *ngIf="!canEditRequisition(requisition)"></td>
                <td class="d-flex align-items-center col-lg-1" *ngIf="canEditRequisition(requisition)">
                  <div class="btn-group">
                    <button
                      class="btn btn-default btn-sm dropdown-toggle no-caret"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <fa-icon [icon]="faEllipsisV"></fa-icon>
                    </button>
                    <div class="dropdown-menu">
                      <span class="dropdown-item" (click)="editRequisition(requisition)" style="cursor: pointer;">Edytuj</span>
                      <span class="dropdown-item" (click)="deleteRequisition(requisition)" style="cursor: pointer;">Usuń</span>
                    </div>
                  </div>
                </td>
                <td class="d-flex align-items-center col-lg-2">
                  {{ requisition.assignmentDate | date: 'dd.MM.y':undefined:'pl' }}
                </td>
                <td class="d-flex align-items-center col-lg-7">{{ requisition.company.nameShort }}</td>
                <td class="d-flex align-items-center justify-content-end col-lg-2">{{ requisition.estimatedProfit }} zł</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)" class="float-right"></app-paginator>
      </div>
    </div>
  </div>
</div>
