<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Lista firm</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-sm">Dodaj firmę</button>
    </div>
  </div>
  <!--
  #TODO: Filtry
  <div class="row">
    <div class="search-bar" [formGroup]="filterForm">
      <input formControlName="search" placeholder="Szukaj po nazwie" class="form-group">
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th scope="col">#</th>
              <th scope="col">Nazwa</th>
              <th scope="col">Nip</th>
              <th scope="col">Ulica</th>
              <th scope="col">Numer budynku</th>
              <th scope="col">Kod pocztowy</th>
              <th scope="col">Miasto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of (page | async)?.results">
              <td class="align-middle">
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle no-caret" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/dashboard/company/', company.id]"
                      routerLinkActive="router-link-active">Informacje</a>
                    <a class="dropdown-item" [routerLink]="['/dashboard/company/edit/', company.id]"
                      routerLinkActive="router-link-active">Edytuj</a>
                    <a class="dropdown-item" (click)="remove(company)">Usuń</a>
                  </div>
                </div>
              </td>
              <td class="align-middle">{{company.id}}</td>
              <td class="align-middle">{{company.nameShort}}</td>
              <td class="align-middle">{{company.nip}}</td>
              <td class="align-middle">{{company.street}}</td>
              <td class="align-middle">{{company.houseNo}}</td>
              <td class="align-middle">{{company.postcode}}</td>
              <td class="align-middle">{{company.city}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
    </div>
  </div>
</div>
