<mat-form-field>
  <input
    type="text"
    placeholder="{{ placeholder }}"
    aria-label="Company"
    matInput
    [matAutocomplete]="elementsAutocomplete"
    [formControl]="control"
  />
  <mat-autocomplete #elementsAutocomplete="matAutocomplete" [displayWith]="displayElement.bind(this)" (opened)="autocompleteScroll()">
    <ng-container *ngIf="results.length === 0">
      <mat-option disabled="true">
        Brak wyników
      </mat-option>
    </ng-container>
    <mat-option *ngFor="let result of results" [value]="result">
      {{ displayElement(result) }}
    </mat-option>
  </mat-autocomplete>
  <mat-error>
    <ng-content></ng-content>
  </mat-error>
</mat-form-field>
