<form *ngIf="employeeForm" [formGroup]="employeeForm" id="field-container">
  <mat-form-field>
    <input matInput placeholder="Nazwa użytkownika" formControlName="username">
    <mat-error *ngIf="employeeForm.get('username').invalid">
      Wprowadź nazwę użytkownika
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="employeeForm.get('email').invalid">
      Wprowadź prawidłowy adres e-mail
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Imię" formControlName="firstName">
    <mat-error *ngIf="employeeForm.get('firstName').invalid">
      Wprowadź imię
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nazwisko" formControlName="lastName">
    <mat-error *ngIf="employeeForm.get('lastName').invalid">
      Wprowadź nazwisko
    </mat-error>
  </mat-form-field>
  <button type="submit" class="btn btn-block btn-primary" [disabled]="!employeeForm.valid"
    (click)="sendForm()">{{submitButton}}</button>
</form>
