<app-base-layout-sidebar>
  <div class="sidebar-items">
    <div class="list-group list-group-flush">
      <app-base-layout-sidebar-item [link]="['/admin-panel']" [exact]="true">
        Panel administratora
      </app-base-layout-sidebar-item>
      <app-base-layout-sidebar-item [link]="['/business-trips']">
        Delegacje
      </app-base-layout-sidebar-item>
      <app-base-layout-sidebar-item [link]="['/admin-panel', 'departments']">
        Filie firmy
      </app-base-layout-sidebar-item>
    </div>
  </div>
</app-base-layout-sidebar>
