<app-base-layout-sidebar>
  <div class="sidebar-items">
    <div class="list-group list-group-flush">
      <app-base-layout-sidebar-item [link]="['/admin-panel']" [exact]="true">
        Panel administratora
      </app-base-layout-sidebar-item>
      <app-base-layout-sidebar-item [link]="['/business-trips']">
        Delegacje
      </app-base-layout-sidebar-item>
      <!--      <a-->
      <!--        [routerLink]="['/admin-panel']"-->
      <!--        routerLinkActive="active"-->
      <!--        [routerLinkActiveOptions]="{ exact: true }"-->
      <!--        class="list-group-item list-group-item-action"-->
      <!--        >Panel administratora</a-->
      <!--      >-->
      <!--      <a [routerLink]="['/business-trips']" routerLinkActive="active" class="list-group-item list-group-item-action">Delegacje</a>-->
    </div>
  </div>
</app-base-layout-sidebar>
