<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row"></div>
</div>

<div style="width: 800px; height: 600px; margin: 0 auto">
  <!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [waypoints]="dir.waypoints"
      [optimizeWaypoints]="false" (status)="test($event)"></agm-direction>
  </agm-map> -->
</div>
<!--
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction *ngIf="dir1" [origin]="dir1.origin" [destination]="dir1.destination" [waypoints]="dir1.waypoints"
    [optimizeWaypoints]="false" (status)="test($event)"></agm-direction>
</agm-map> -->
