<h1 mat-dialog-title>Edycja profilu</h1>
<div mat-dialog-content>
  <form *ngIf="data.profileForm" [formGroup]="data.profileForm" id="field-container">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="firstName" />
          <mat-error>
            <p *ngIf="data.profileForm.get('firstName').errors?.required">To pole jest wymagane</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Nazwisko" formControlName="lastName" />
          <mat-error>
            <p *ngIf="data.profileForm.get('lastName').errors?.required">To pole jest wymagane</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="E-mail" formControlName="email" />
          <mat-error>
            <p *ngIf="data.profileForm.get('email').errors?.required">To pole jest wymagane</p>
            <p *ngIf="data.profileForm.get('email').errors?.email">Wprowadź prawidłowy adres e-mail</p>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()">Cofnij</button>
  <button mat-button [mat-dialog-close]="data.profileForm.value" [disabled]="!data.profileForm.valid">Zapisz</button>
</div>
