<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="section-header">Panel użytkownika</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="dashboard-home">
        <div class="row">
          <div class="col-auto">
            <app-dashboard-profile></app-dashboard-profile>
          </div>
          <div class="col">
            <app-dashboard-last-requisitions></app-dashboard-last-requisitions>
          </div>
        </div>
      </div>
      <div id="current-information">
        <div class="row">
          <div class="col">
            <app-dashboard-current-business-trip></app-dashboard-current-business-trip>
          </div>
          <div class="col">
            <app-dashboard-last-business-trip></app-dashboard-last-business-trip>
          </div>
          <div class="col">
            <app-dashboard-business-trip-stats></app-dashboard-business-trip-stats>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
