<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="section-header">Twoje delegacje</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-current-business-trips></app-current-business-trips>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-future-business-trips></app-future-business-trips>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-past-business-trips></app-past-business-trips>
    </div>
  </div>
</div>
